.service{
    background-image: url('https://img.freepik.com/free-photo/old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-room-wall_1258-28313.jpg?size=626&ext=jpg');
    background-position: center;
    background-size: cover;
}
.service h2{
    color: #66fcf1;
    padding-top: 2rem;
}
.listContent{
    width: 90%;
    margin:auto;
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding: 2rem 0 4rem 0;
}
.card{
    width: 300px;
    height: 400px;
    padding-top: 5rem;
    background: #45a29e;
}
.card:hover{
    transform: rotate(5deg);
    transition:ease-in-out;
    background-color:#66fcf1;
}
.card img{
    width: 60%;
    margin:auto;
}
.card p{
    font-family: 'Pacifico', cursive;
    color: #fff;
    font-size: 21px;
}
@media screen and (max-width: 600px){
   .listContent{
       display: flex;
       flex-direction:column;
   }
   .card{
       margin: 2rem 0;
   }
}