
.service h2{
    color: #000;
    padding-top: 12rem;
}
.listContent{
    width: 90%;
    margin:auto;
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding: 2rem 0 4rem 0;
}
.card{
    width: 28%;
    height: 350px;
    border-radius: 10px;
    background-color: #fff;
    padding-top: 5rem;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border: none;
    
}
.card:hover{
    transform: translateY(-10px);
    animation-name: down;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes down{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-25px);
    }
    100%{
        transform: translateY(0);
    }
}
.card img{
    width: 40%;
    margin:auto;
}
.card p{
    font-family: 'Pacifico', cursive;
    color: #000;
    font-size: 21px;
}
@media screen and (max-width: 600px){
    .service h2{
        color: #000;
        padding-top: 300px;
    }
   .listContent{
       display: flex;
       flex-direction:column;
   }
   .card{
       width: 80%;
       margin: 2rem 0;
   }
}
@media screen and (max-width: 1024px){
    

 }