.service{
    margin-top: 4rem;
}

.listContent{
    width: 90%;
    margin:auto;
    display:flex;
    justify-content:center;
    align-items:center;
}
.card{
    width: 300px;
    height: 400px;
    padding-top: 5rem;
    margin-left: 3rem;
    border-radius: 15px;
    background:linear-gradient(#141E30,#243B55);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.card:hover{
    transform: rotate(5deg);
    transition:ease-in-out;
    background-color:#DF184A;
}
.card img{
    width: 60%;
    margin:auto;
}
.card p{
    font-family: 'Pacifico', cursive;
    color: #fff;
    font-size: 21px;
}
@media screen and (max-width: 600px){
   .listContent{
       display: flex;
       flex-direction:column;
   }
   .card{
       margin: 2rem 0;
   }
}