.skill-contain{
    margin-top: 4rem;
    padding-bottom: 6rem;
    background-color: #1f2833;
}
.list-Skills{
    width: 68%;
    margin: auto;
    background: linear-gradient(
        159deg
        ,#2d2d3a 0%,#3d3d49 100%);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 10px;
}
.skill-contain h2{
    padding-top: 2rem;
}
.skill{
    width:90%;
    padding-top: 2rem;
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding-bottom: 2rem;
}
.skill h3{
    margin-left: 2rem;
    color: #F9FBFF;
}
.skill-bar{
    width: 68%;
}
@media screen and (max-width: 600px) {
    .skill h3{
        font-size: 15px;
        margin-left: 1rem;
    }
}