.skill-contain{
    padding-bottom: 6rem;
    background-color: #1f2833;
}
.list-Skills{
    width: 68%;
    margin: auto;
    background-image: url('https://img.freepik.com/free-photo/old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-room-wall_1258-28313.jpg?size=626&ext=jpg');
    background-position: center;
    background-size: cover;
    box-shadow: rgb(31, 124, 116) 0px 20px 30px -10px;
    border-radius: 10px;
}
.skill-contain h2{
    padding-top: 2rem;
}
.skill{
    width:90%;
    padding-top: 2rem;
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding-bottom: 2rem;
}
.skill h3{
    margin-left: 2rem;
    color: #F9FBFF;
}
.skill-bar{
    width: 68%;
}
@media screen and (max-width: 600px) {
    .skill h3{
        font-size: 15px;
        margin-left: 1rem;
    }
}