.skill-contain{
    padding-bottom: 6rem;
    background-color: #fff;
    
}
.list-Skills{
    width: 68%;
    margin: auto;
    box-shadow: rgb(23, 27, 27) 0px 20px 30px -10px;
    border-radius: 10px;
}
.skill-contain h2{
    padding-top: 2rem;
}
.skill{
    width:90%;
    padding: 2rem 0;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.skill h3{
    margin-left: 2rem;
    color: #fff;
}
.skill-bar{
    width: 68%;
}
@media screen and (max-width: 600px) {
    .skill h3{
        font-size: 16px;
        margin-left: 1rem;
    }
    .skill-bar{
        width: 60%;
    }
}