.about{
    margin-top: 2em;
    background-color: #F7F8FC;
}

.content{
    width:90%;
    margin:auto;
    height: auto;
    display:flex;
    justify-content:center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.content-img{
    width: 50%;
    margin: 2rem 0;
}
.content-img img{
    width: 70%;
    border-radius: 10px;
}
.content-intro{
    width:50%;
    margin-top:2rem;
    padding: 20px 0;

}
.content-intro h1{
    font-family: 'Pacifico', cursive;
    color: #545D7A;
    font-size:50px;
    line-height: 50px;
}
.content-intro p{
    font-family: Arial, Helvetica, sans-serif;
    color: #545D7A;
    font-size:20px;
    padding-top: 20px;
    width:80%;
    margin:auto;
}
@media screen and (max-width: 600px) {
    .content{
        width:100%;
        height: auto;
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction: column;
    
    }
    .content-img img{
        width: 15em;
        height: 15em; 
    }
    
  } 