.contact-contain{
    width: 100%;
    background-image: url('https://img.freepik.com/free-photo/old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-room-wall_1258-28313.jpg?size=626&ext=jpg');
    background-position: center;
    background-size: cover;

}
.contact-contain h2{
    color: #66fcf1;
    padding-top: 2rem
}
.contact-form{
    width: 70%;
    margin:auto;
    text-align: start;
    
}
label{
    color: #66fcf1;
    font-size:18px;
    font-weight:bold;
    margin-top: 1em;
    
}
.txt, .txtMess{
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  font-size: 1.3rem;
  border-radius: 10px;
  border: 3px solid #fff;
  color: #10182F;
}
.txt:focus{
    box-shadow: rgb(31, 124, 116) 0px 20px 30px -10px;
}
.txtMess:focus{
    box-shadow: rgb(31, 124, 116) 0px 20px 30px -10px;
}
.btnSubmit{
    width: 20%;
    height: 36px; 
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius:10px;
    margin-top:2rem;
    background: #ff9966;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #66fcf1, #45a29e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #66fcf1, #45a29e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:#fff;
    margin-bottom: 2rem;
    
    
}
.btnSubmit:hover{
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

@media screen and (max-width: 660px){
     .btnSubmit{
        width: 50%;
        margin: auto;
        font-size: 13px;
        margin-bottom: 2rem;
     }
}
