.nav-item a{
    font-size: 20px;
    color: #66fcf1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-link:hover{
   animation-name: bordered;
   animation-duration: 2s;
}

@keyframes bordered{
  0%{
    border-bottom: 2px solid #0fa8d6;
  }
  50%{
    border-bottom: 2px solid #88f3ff;
  }
  100%{
    border-bottom: 2px solid #0fa8d6;
  }
}