.nav-item a{
    font-size: 20px;
    color: #66fcf1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-link:hover{
  border-bottom: 2px solid #0fa8d6;
}