.footer{
    width:100%;
    height: 300px;
    color:#000;
    display: flex;
    font-size: 16px;
    line-height: 32px;
    justify-content:space-around;
    align-items: center;
}
.infomation{
    text-align:start;
}
.infomation h3{
    margin-bottom: 3rem;
    
}
.infomation a{
    margin-left: 2rem;
    color: #fff;
   
}
.icon{
    color: #fff;
}
.social a{
    margin-left: 1rem;
    text-decoration: none;
    color: #fff;
}
.social a:hover{
    color: #1ca4da;
}

@media screen  and (max-width: 660px){
    .footer{
        display: flex;
        flex-direction:column;
        
    }
    .footer h3{
        font-size: 22px;
        margin-bottom: 2rem;
    }
    .footer a{
        font-size: 18px;
    }
}