.experience-contain{
    width:100%;
    background-image: url('https://img.freepik.com/free-photo/old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-room-wall_1258-28313.jpg?size=626&ext=jpg');
    background-position: center;
    background-size: cover;
    
}
.experience-contain h2{
    color: #66fcf1;
    padding-top: 2rem;
}
.date{
    color: #545D7A;
}