.App {
  text-align: center;
  background-color: #f7f8fe;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2{
  font-family: 'Pacifico', cursive;
  color: #000000;
  font-size:42px;
  padding-bottom: 1em;
  text-shadow: 3px 6px rgba(0,0,0,0.1);
  font-style: italic;
}
.bg-sub{
  background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
}