.App {
  text-align: center;
  background-color: #0b0c10;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2{
  font-family: 'Pacifico', cursive;
  color: #66fcf1;
  font-size:42px;
  padding-bottom: 1em;
  font-style: italic;
}