.banner{
    width: 100%;
    margin-top: 3rem;
    height: 400px;
    background-image: url('https://image.freepik.com/free-photo/various-computer-equipment-with-programming-code-screens-table-dark-room-cyber-security-concept-copy-space_236854-23136.jpg');
    background-size: cover;
}

.intro{
    text-align:center;
    width: 50%;
    height: 250px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5)
}
.intro-typed{
    font-family: 'Pacifico', cursive;
    color: #66fcf1;
    font-size:60px;
    
}


@media screen and (max-width: 660px) {
    
    .btn-download{
        width: 120px;
        height: 40px;
        font-weight: bold;
        font-size: 13px;
        
        
    }
    .intro{
        width: 50%;
        height: 40%;
    }
    
  } 
  @media screen and (max-width:  992px ) {
    .intro-typed{
        font-family: 'Pacifico', cursive;
        color: #66fcf1;
        font-size:30px;
        
    }
    .intro{
        width: 50%;
        height: 30%;
    }
    .btn-download{
        width: 140px;
        height: 40px;
        font-weight: bold;
        font-size: 16px;
    }
    
  } 