.banner{
    position: relative;

}
.banner img{
    width:100%
}
.intro{
    position: absolute;
    top: 30%;
    left: 25%;
    text-align:center;
    width: 50%;
    height: 40%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5)
}
.intro-typed{
    font-family: 'Pacifico', cursive;
    color: #fff;
    font-size:70px;
    
}
.btn-download a{
    text-decoration:none;
    color: #DF184A;
}
.btn-download{
    width: 200px;
    height: 50px;
    font-weight: bold;
    color: #DF184A;
    background-color: #fff;
    border: 3px solid #DF184A;
    margin-top: 2rem;
}
.btn-download:hover{
    background-color: #DF184A;
    color: #fff;
    border: 3px solid #fff;
}
.btn-download:hover a{
    color: #fff;
    
}

@media screen and (max-width: 660px) {
    .intro-typed{
        font-family: 'Pacifico', cursive;
        color: #fff;
        font-size:20px; 
    }
    .btn-download{
        width: 120px;
        height: 40px;
        font-weight: bold;
        font-size: 13px;
        color: #DF184A;
        background-color: #fff;
        border: 3px solid #DF184A;
        
    }
    
  } 
  @media screen and (max-width:  992px ) {
    .intro-typed{
        font-family: 'Pacifico', cursive;
        color: #fff;
        font-size:30px;
        
    }
    .btn-download{
        width: 140px;
        height: 40px;
        font-weight: bold;
        color: #DF184A;
        background-color: #fff;
        border: 3px solid #DF184A;
        font-size: 16px;
    }
    
  } 